 * {
     margin: 0;
     padding: 0;
     position: relative;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     text-decoration: none;
     color: #ececec;
     cursor: default;
     outline: none;
     outline: 0;
}
body {
        background-color: #404040;
}


/* Navigation */
.nav {
    top: 0px;
    position: fixed;
    width: 100%;
    height: 55px;
    list-style: none;
    margin: 0;
    background: #009688;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    z-index: 99;
}

.nav a {
  text-decoration: none;
  display: block;
}

.nav li {
    text-align: center;
    min-width: 25%;
}
.nav-icon {
    margin: 3px;
    width: 48px;
}

#active {
        border-bottom: 3px solid #FFC107;
}


/* options-bar */
.option-bar {
    z-index: 1;
    position: fixed;
    top: 55px;
    overflow: hidden;
    width: 100%;
    background-color: #009688;
    margin: 0px;
    -webkit-box-shadow: 10px 10px 10px #333333;
    -moz-box-shadow:    10px 10px 10px #333333;
    box-shadow: 0 4px 8px 0 #333333;
    height: 40px;
}

/* Style the buttons inside the tab */
.option-bar button {
    color: #B2DFDB;
    background-color: #009688;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px;
    transition: 0.3s;
    width: 50%;
    font-size: 20px;
    height: 40px;
}

/* Change background color of buttons on hover */
.option-bar button:hover {
    cursor: pointer;

    border-bottom: 3px solid #009688;
}

/* Create an active/current tablink class */
.option-bar button.active {
    color: #fff;
    border-bottom: 3px solid #FFC107;
}

/* Style the tab content */
.tabcontent {
    top: 100px;
    display: none;
    border-top: none;
    margin: 10px;
}
/*** option-bar END ***/

.film-container {
    width: 100%;
    background-color: #737373;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 10px 10px 10px #222;
    -moz-box-shadow:    10px 10px 10px #222;
    box-shadow: 0 4px 8px 0 #222;
}
.film-title {
    text-align: center;
    font-size: 24px;
    padding: 10px;
    width: 100%;
    background-color: #009688;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.film-banner {
    width: 100%;
}
.film-intro {
    text-align: center;
}
.film-date {
    margin-right: 15px;
    margin-top: 20px;
    float: right;
}
.btn-remind {
    box-sizing: border-box;
    margin: 10px;
    font-size: 18px;
    height: 48px;
    padding: 10px;
    text-align: center;
    background-color: #009688;
    border-radius: 5px;
    border-style: none;
    left: 10px;
    
}
.times {
    text-align: center;
}
.btn-time {
    box-sizing: border-box;
    margin: 10px;
    font-size: 18px;
    height: 48px;
    padding: 10px;
    text-align: center;
    background-color: #009688;
    border-radius: 5px;
    border-style: none;
}
.offline {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.proms-container {
    margin: 10px;
}

.promotion-title {
    margin-top: 65px;
    margin-bottom: 20px;
    text-align: center;
}